<?xml version="1.0"?>

<configuration>
    <gui/>
    <arena
          MAX_utility="10"
          MAX_std=".5"
          num_agents="100"
          max_steps="1000"
          num_runs="100"
          tree_branches="2"
          tree_depth="1"
          k=".85"
          structure='unknown'
          >
          <agent
                P_a='0.7'
                P_d='0.3'
                k=".3"
                h=".7"
                alpha=".7"
                />
    </arena>
</configuration>
