<?xml version="1.0"?>

<configuration>
    <gui/>
    <arena
          MAX_utility="10"
          MAX_std="6"
          num_agents="100"
          max_steps="1000"
          num_runs="100"
          tree_branches="2"
          tree_depth="2"
          v="1.2"
          >
          <agent
                communication_range='limited'
                k=".3"
                h=".7"
                />
          <target
            quality ="1"
                />
    </arena>
</configuration>
