<?xml version="1.0"?>

<configuration>
    <!-- <gui/> -->
    <arena
          num_agents="100"
          max_steps="1000"
          num_targets="31"
          num_runs="100"
          MaxTargetPerNode="11"
          tree_branches="3"
          tree_depth="1"
          >
          <agent
                k=".1"
                h=".9"
                />
          <target
            quality ="1"
                />
    </arena>
</configuration>
